# Normalize line endings to LF on commit, checkout as LF on all platforms
* text=auto eol=lf

# Explicitly mark binary files as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.tgz binary
*.tar.gz binary
